{%- if site.data.company_logos -%}
<section class="company_logos container-fluid">
    <div class="row">
        {%- for company in site.data.company_logos -%}
        <div class="{{ '' | append: include.classes }}">
            {% if company.url %}<a target="_blank" href="{{ company.url }}">{% endif %}
                <div class="company_card center-block" style="{{ 'background-color: ' | append: company.bg_color }}">
                    <img src="{{ 'assets/images/' | append: company.logo_url}}">
                </div>
            {% if company.url %}</a>{% endif %}
        </div>
        {%- endfor -%}
    </div>
</section>
{%- endif -%}