<div id="footer_wrap" class="outer">
    <footer class="inner">
    
    {%- if site.github.is_project_page -%}
    <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {%- endif -%}
    
    {%- comment -%} <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> {%- endcomment -%}
    <div class="footer_copyright pl-0 col-auto">
        <p class="copyright">&copy; Rob Keleher {{ site.time | date: '%Y'}}</a></p>
    </div>

    <div id="footer-external-links">
        <ul class="nav">
            <li class="nav-item"><a href="http://www.github.com/tryforceful" target="_blank"><i class="fa-lg fa-fw fab fa-github"></i></a></li>
            <li class="nav-item"><a href="http://www.linkedin.com/in/robert-keleher" target="_blank"><i class="fa-lg fa-fw fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    
    </footer>
</div>