<div id="header_wrap" class="outer">
    <a id="home"></a>
    <header class="inner">
      <a id="forkme_banner" target="_blank" href="{{ site.data.main.github_url }}">{{ site.data.main.github_handle }}</a>
      <img id="triforce_logo" src="assets/images/transparent_triforce_180_180.png"/>
      
      <h1 id="project_title">{{ site.data.main.title | default: site.github.repository_name }}</h1>
      <h2 id="project_tagline">{{ site.data.main.description | default: site.github.project_tagline }}</h2>

      {%- if site.show_downloads -%}
        <section id="downloads">
          <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
          <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
        </section>
      {%- endif -%}

    </header>
</div>