@import '_variables';
@import '_mixins';

//override img craziness
.img-themed {
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  @include box-shadow(0 0 5px #ebebeb);
}

img {
  padding: 0;
  margin: 0;
  border: 0;
  @include box-shadow(none);
}
//////////////////////////////
html {
  scroll-behavior: smooth;
}

#forkme_banner {
  z-index: 1500;
  background: url(../images/blacktocat.png) $navi_and_forkme_bg no-repeat 95% 50%;
}

div {
  vertical-align: unset;
}

//needed for nav scrollspy
body {
  position: relative;
}

$font-family-sans: 'Source Sans Pro', sans-serif;
$font-family-mono: 'Source Code Pro', monospace;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-mono;
}
body, p { 
  font-family: $font-family-mono;// $font-family-sans;
}

.inner {
  @media (min-width: $-breakpoint-lg) {
    max-width: 840px;
  }
}
footer {
  max-height: 300px;
}
#header_wrap {
  //background: linear-gradient(to top, $dark-background, #212121);
  background: $dark-background;
  header {
    h1, h2, h3, h4, h5, h6 {
      color: hsl(197, 77%, 81%);
    }
    //#project_title
    #project_tagline {
      font-size: 26px;
      color: hsla(197, 77%, 81%, 0.8);
    }
  }
}
#footer_wrap {
  background: $dark-background;
}

#main_content {
  padding-top: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.company_logos {
 .row {
   .company_card {
      margin-bottom: 10px;
      display: block;
      padding: 10px;
      height: 100px;
      width: 220px;
      border: 1px solid transparent;
      border-radius: 12px;
      position: relative;
      text-align: center;

      img {
        max-width: 200px;
        max-height: 80px;

        @include box-shadow(none);
        @include vertical-align(relative);
      }
    }
  }
}

a.badge-dark.userscript_badge {
  font-family: $font-family-mono;
  // font-size: 60%;
  // position: relative;
  // top: -0.25em;

  &, &:visited {
    background-color: hsl(280, 100%, 50%);
    color: #ddd;//#f0a;
  }
  &:hover, &:focus {
    color: #fff;
  }

  // &, &:hover, &:focus, &:visited {
  //   color: #bbb;
  // }
  // &, &:visited {
  //   background-color: #555;//#f0a;
  // }
  // &:hover, &:focus {
  //   color:white;
  // }
}

#main_content_wrap {
  overflow-x: hidden;
  border-top: 0;
  background-color: $gray-background;
}

#main_content #_intro .inner {
  padding-bottom: 0;
  vertical-align: unset;
}

// content: '';
// width: 100vw;
// /* height: 100%; */
// padding-top: 66.484375%;
// position: absolute;
// background-position: center;
// overflow: hidden;
// overflow-y: hidden;
// margin-left: -50vw;
// margin-right: -50vw;
// left: 50%;
// right: 50%;
// background-color: #fa675f;
// /* filter: blur(20px) grayscale(0.1); */
// /* background-image: url(/assets/images/cover.jpg); */
// background-size: cover;
// background-repeat: no-repeat;
// -webkit-filter: blur(0.3);
// filter: blur(0.3);

.coverimage {
  vertical-align: unset;
  //bottom: -6px;
  @include fullscreen-width();

  img{
    filter: contrast(1.2) brightness(0.8);
  }

  max-height: 400px;
  overflow-y: hidden;

  @media (min-width: $-breakpoint-md) {

    max-height: calc(400px + ((100vw - #{$-breakpoint-md})* 0.12));
    img {
      position: relative;
      top: calc((#{$-breakpoint-md} - 100vw) * .08);
    }    
  }

  // &:before {
  //   content: '';
  //   @include fullscreen-width();
  //   padding-top: 100%;
  //   background-image: url('/assets/images/cover.jpg');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   filter: blur(.3);
  // }
}

#navi {
  overflow-y: hidden;
  height: 40px;
  background-color: $navi_and_forkme_bg;
  
  .inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar {
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0;
    
    ul.nav {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    // .navbar-nav > li > a {
    //   padding: 15px;
    // }

    // .navbar:before, .navbar:after {
    //   display: table;
    //   content: " "; }
    // .navbar:after {
    //   clear: both; }

    li {
      a {
        color: white;
        font-weight: 500;
        font-family: $font-family-mono;
        font-size: 16px;
        padding-bottom: 20px;
      }

      &.active,
      a.active,
      a:hover,
      a:focus {
        color: $background_black;
        background-color: $navi_focus_gray;
        @media (min-width: $-breakpoint-md) {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
        //border-bottom: 1px solid #ccc;
      }

      &.active,
      a.active {
        background-color: $background_light_gray;

        &.dark-link {
          background-color: $dark-background;
          color: white;
        }
        &.gray-link {
          background-color: $gray-background;
          color: white;
        }
      }
    }

    .to_top {
      .nav-link {
        padding-left: 0.75em;
        padding-right: 0.75em;
        height: 40px;
      }
      li.active,
      a.active {
        background-color: $navi_and_forkme_bg;
      }

      @media (max-width: $-breakpoint-md)
      {
        visibility: hidden;
        opacity: 0;
        width: 0;
        transition: width .3s ease, opacity .3s linear;
        &.small-in-navi {
          width: 34px;
          visibility: visible;
          opacity: 1;
        }
      }
      @media (min-width: $-breakpoint-md){
        display: none;
        &.small-in-navi {
          display: block;
          animation: 0.3s ease to_top_pan_down forwards;
          position: fixed;
          left: 5px;
          top: 0;
        }
      }
    }
  }
}

#triforce_logo {
  display: block;
  position: absolute;
  right: 7px;
  z-index: 1100;
  @include box-shadow(none);

  @media (min-width: $-breakpoint-sm) {
    top: 75px;
    height: 180px;
    transition: 
      top 0.5s ease,
      height 0.5s ease;
  }
  @media (max-width: $-breakpoint-sm) {
    top: 50px;
    height: 120px;
    opacity: 1;
    transition: 
      opacity 0.5s ease,
      top 0.5s ease,
      height 0.5s ease;
  }
  @media (max-width: 470px) {
    z-index: 0;
    opacity: .125;
    transition: opacity 0.5s ease;
  }

  &.back-to-top {
    transition: 0s;
    @keyframes normal-size-slide-from-top { from {transform: translateY(-100px); opacity: 0;}}
    animation: normal-size-slide-from-top 0.4s ease;
  }

  &.small-in-navi {
      position: fixed;
      top: 2px;
      height: 35px;
      z-index: 1100;
      //transition: height 0.3s ease;
      animation: 0.3s ease trif_pan_down forwards;

    @media (min-width: $-breakpoint-sm) {
      opacity: 1;
      z-index: 1100;
      visibility: visible;
      transition: opacity 0.5s ease 0.05s, visibility 0.05s ease, z-index 0.05s linear;
    }
    @media (max-width: $-breakpoint-sm) {
      opacity: 0;
      z-index: -10;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.05s ease 0.5s, z-index 0.05s linear 0.5s;
      transition-duration: 0s;
    }
  }
}

@keyframes trif_pan_down { from {top: -160px; } to {top: 2px; }}
@keyframes to_top_pan_down { from {top: -160px; } to {top: 0px; }}


// #_about
// {
//   background-color: #aadaff;//#c9c0fd;
// }
// #_resume {
//   background-color: #aadaff;
// }

#main_content_wrap.light-section {
  
  // h1, h2, h3, h4, h5, h6 {
  //   color: $gray-background-font-color;
  // }
  background-color: $light-background;
  // color: $gray-background-font-color;
  // a {
  //   color: skyblue;
  //   font-weight: bolder;
  // }
}

.gray-section {

  h1, h2, h3, h4, h5, h6 {
    color: $gray-background-font-color;
  }
  background-color: $gray-background;
  color: $gray-background-font-color;
  a {
    color: skyblue;
    font-weight: bolder;
  }
}

.dark-section {
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  background-color: #11112f;
  color: #fff !important;
  a {
    color: rgb(79, 163, 231)
  }

  // &::before{
  //     content: '';
  //     width: 100%;
  //     height: 100%;
  //     padding-left: 100vw;
  //     position: absolute;
  //     @include centerThisX(absolute);
  //     background-color: #aadaff;
  // }
}

#_resume {
  .pdf_iframe_container {

    #pdf_spinner {
      display: block;
    }
    #pdf_iframe {
      display: none;
    }

    &.iframe_loaded {
      padding-top: 129.41%; // 8.5 x 11 US Letter ratio
      filter: brightness(0.9);
    
      #pdf_spinner {
        display: none;
      }
      #pdf_iframe {
        display: block;
      }
    }

  }
}


.green_section {
  blockquote {
    color: rgb(187, 187, 187);
  }
  h1, h2, h3, h4, h5, h6 {
    color: #0fa;
    color: white;
  }
  background-color: #044;
  background-color: hsla(180, 100%, 10%, 1);
  color: #0fa !important;
  color: lawngreen !important;
  a {
    color: skyblue;
    color: #84c8ff;
  }
}

#_about {
  .interests {
    list-style-type: none;
    @media (max-width: $-breakpoint-sm){
      max-width: 250px;
    }

    li {
      margin-left: 2em;
      margin-bottom: 5px;
      font-size: 120%;
    }
    .emoji {
      @include box-shadow(none);
      vertical-align: text-bottom;
      margin-right: 10px;
      height: 30px;
      width: 30px;
    }
  }

  .col-extra div {
    width: 125px;
    height: 0;
  }
}

#_projects {
  blockquote p {
    color: #999;
  }
  img.project_image {
    border-radius: 5px;
    filter: saturate(0.9) brightness(0.9);
    max-height: 300px;
  }
}

footer {
  .footer_copyright {
      display: inline-block;
  }

  #footer-external-links {
    display: inline-flex;
    a, a:hover, a:focus {
      text-decoration: none;
      color: #f2f2f2;
    }
    .nav-item {
      display: inline;
      padding: 0;
      margin: 0 5px;
    }
    .fab:before {
      color: #f2f2f2;
    }
  }
}

.github-icon img {
  padding: 5px;
  margin: 0;
  background-color: #373737;
  vertical-align: text-bottom;
}

.label {
  font-size: 60%;
  vertical-align: middle;
}

#main_content {
  h3:not(:first-of-type) {
      margin-top: 50px;
  }
}


#linkedin_container {
  margin-top: 40px;
  margin-bottom: 20px;
  width: auto;
  border-radius: 4px;
  img { 
    box-shadow: initial;
    -webkit-box-shadow:initial;
    -moz-box-shadow:initial;
    -o-box-shadow:initial;
    -ms-box-shadow:initial;
  }
}


#tech {
  .icon {
    font-size: 100px;
  }

  .icon-color-1 {color: #dd535f;}
  .icon-color-2 {color: #d4ad00;}
  .icon-color-3 {color: #28a745;}
  .icon-color-4 {color: #178ab8;}
  .icon-color-5 {color: #6f42c1;}

// color: #6f42c1;
// color: #6f42c1;
}

#main_content section {
  // &:target::before {
  //   content: "";
  //   display: block;
  //   height: 39px;
  //   margin: -39px 0 0;
  // // }
  // &[id]:before { 
  //   display: block; 
  //   content: " "; 
  //   margin-top: -39px; 
  //   height: 39px; 
  //   visibility: hidden; 
  // }

  .section-anchor {
    display: block; 
    content: " "; 
    position: relative;
    top: -39.5px;
    visibility: hidden; 
  }
}

#introtext_small_1,
#introtext_small_2
{
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    right: 0;
    background: $gray-background;
    width: 100%;
    border-left: .1em solid transparent; //transparent to start, animations will override
  }
}

@keyframes typing1 { from { width: 100%; } to {width: 0; } }
@keyframes typing2 { from { width: 100%; } to {width: 0; } }
@keyframes blink-caret { from, to { border-color: $gray-background-font-color; } 50% { border-color: transparent; } }
@keyframes blink-caret-reverse { 50% { border-color: $gray-background-font-color; } }
  
#introtext_small_1 span {
  animation:  typing1 1s steps(13, end) 1.5s forwards,
              blink-caret-reverse 1s step-end 3;
}
#introtext_small_2 span {
  animation:  typing2 .8s steps(8, end) 3s both,
              blink-caret-reverse 1s step-end infinite 3s;
}