.interests {
  list-style-type: none; }
  .interests li {
    margin-bottom: 5px; }
    @media (min-width: 992px) {
      .interests li {
        font-size: 120%; } }
  .interests .emoji {
    vertical-align: text-bottom;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .interests .emoji {
        height: 30px;
        width: 30px; } }
