---
---

.interests {
    list-style-type: none;
    li {
        margin-bottom: 5px;
        @media (min-width: 992px){
            font-size: 120%;
        }
    }
    .emoji {
        vertical-align: text-bottom;
        margin-right: 10px;
        @media (min-width: 768px) {
            height: 30px;
            width: 30px;
        }
    }
}