/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
.interests {
  list-style-type: none; }
  .interests li {
    margin-bottom: 5px; }
    @media (min-width: 992px) {
      .interests li {
        font-size: 120%; } }
  .interests .emoji {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    vertical-align: text-bottom;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .interests .emoji {
        height: 30px;
        width: 30px; } }

#interests,
#resume {
  background-color: #aadaff;
  color: #000 !important; }

footer .footer_copyright {
  display: inline-block; }

.github-icon img {
  padding: 5px;
  margin: 0;
  background-color: #373737;
  vertical-align: text-bottom; }

.label {
  font-size: 60%;
  vertical-align: middle; }

#main_content h3:not(:first-of-type) {
  margin-top: 50px; }
