---
---
@import '_mixins';
@import 'bootstrap';
@import "{{ site.theme }}";

//override img craziness
.img-themed {
    padding: 5px;
    margin: 10px 0 10px 0;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 5px #ebebeb;
    -webkit-box-shadow: 0 0 5px #ebebeb;
}

img {
    padding: 0;
    margin: 0;
    border: 0;
}

@import "main";